<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>WP lab - Delivery Info</title>
</head>
<body>
<header>
    <h2>Balloon Order page - Delivery information </h2>
</header>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">User Info</div>
        <div class="panel-body">
            <form th:action="@{/ConfirmationInfo}" th:method="POST">
                <label for="clientName">UserName:</label><br/>
                <input type="text" id="clientName" name="clientName" th:text="${user!=null}? ${user} : ''" /><br/>
                <label for="clientAddress">Password</label><br/>
                <input type="text" id="clientAddress" name="clientAddress"><br/>
                <input type="submit">
            </form>
            <div class="panel panel-success">
                <div class="panel-heading">You chose:</div>
                <div class="panel-body">
                    <h3>Balloon Color </h3>
                    <p><th:block th:text="${color}"></th:block></p>
                    <h3>Balloon Size </h3>
                    <p><th:block th:text="${size}"></th:block></p>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>