<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div xmlns:th="http://www.thymeleaf.org">
    <main>
        <th:block th:if="${hasError}" th:text="${error}"/>
        <h2>Your Balloons</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Manufacturer</th>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <th>Actions</th>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <tr th:each="balloon: ${balloons}">
                <td th:text="${balloon.getName()}"></td>
                <td th:text="${balloon.getDescription()}"></td>
                <td th:text="${balloon.getManufacturer().getName()}"></td>
                <td>
                    <div class="btn-group btn-group-justified">
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}" th:method="DELETE">
                            <button class="btn btn-danger delete-product" th:text="Delete" type="submit">Delete</button>
                        </form>
                        <form th:action="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}" th:method="POST">
                            <button class="btn btn-primary edit-product" th:text="Edit" type="submit">Edit</button>
                        </form>
                        </th:block>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a type="button" class="btn btn-primary add-product" href="/balloons/add-form">Add a Balloon</a>
        </th:block>
        <br>
    </main>

    <h2>Choose balloon color:</h2>
    <form th:action="@{'/balloons/select-balloon'}" th:method="POST">
        <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
        <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
        <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
        <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>

        <input type='submit' value='Submit'/>
    </form>
</div>