<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Balloon Order page - Balloon Size</title>

</head>
<body>
<header>
    <h1>Balloon Order page - Select Balloon Size </h1>
</header>

    <div class="container">
    <h2>Choose balloon size:</h2>
    <form th:action="@{'/balloons/confirm-info'}" th:method="POST">
        <input type="radio" name="size" value="Small"> Small <br/>
        <input type="radio" name="size" value="Medium"> Medium <br/>
        <input type="radio" name="size" value="Big"> Big <br/>
        <input type="radio" name="size" value="Extra Big"> Extra Big <br/>
        <input type='submit' value='Submit'/>
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th >
                Your Order Status
            </th>
            <th >
                Color
            </th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Balloon Type </b></td>
            <td><th:block th:text="${session.color}"></th:block></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>